
body {
    font-family: "Inter", sans-serif;
}
.inner{
    max-width: 1540px;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #000;
    padding:30px;
}

.header__logo img{
    width: 370px;
    height: auto;
}

/* 以下ログイン時のみ表示部分*/
.header-auth{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding:0;
}


/* 検索ウインドウ　*/
.header-auth__search__window {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 5px;

}

/* ログアウト、マイページのテキストスタイル　*/
.header-auth__logout button,
.header-auth__mypage a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

/* 出品ボタン　*/
.header-auth__sell__link {
    display: inline-block;
    background-color: #fff;
    color: #000;
    width: 100px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}
/* withメッセージ　*/
.flash-message {
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    z-index: 1000;
}

/* 成功 */
.flash-message--success {
    background-color: #dddddd;
    color: #0000ff;
    border-bottom: 2px solid #0000ff;
    border-top: 2px solid #0000ff;
}

/* 画像、SOLD 表示*/

.item-img{
  position: relative;
  width: 290px;
  height: 290px;
  background-color: #5f5f5f;
}

.item-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.sold-overlay{
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0,0,0,0.5);
  color: red;
  font-size: 32px;
  font-weight: bold;
  pointer-events: none;
}

.sold-inline {
    color: red;
    font-weight: bold;
    margin-right: 4px;
}
