body {
    font-family: "Inter", sans-serif;
}
.inner{
    max-width: 1540px;
    margin: 0 auto;
}

.header {
    height: 80px;
    background-color: #000;

}


.header__inner {
    margin: 0 auto;
    padding: 5px;
}

.header__logo img{
    width: 370px;
    height: auto;
    margin: 15px;
}