.tabs{
    display: flex;
    justify-content: left;
    margin: 80px auto 10px;
    padding-left: 100px;
    width: 100%;
    gap: 50px;
}


.tabs a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #5f5f5f;
}

.tabs a:visited {
    color: #5f5f5f;
}

.tabs a.active {
    color: #ff0000;
}


.hr{
    border: none;
    border-bottom: #5f5f5f solid 2px;
    margin: 10px 0 50px;
}

/* 以下商品一覧部分*/
.item-wrapper{
    margin: 50px 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    width: 100%;
    box-sizing: border-box;
}

.item-groups{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    height: 320px;
    box-sizing: border-box;
}

.item-img{
    width: 290px;
    height: 290px;
    background-color: #5f5f5f;
    display: block;
    object-fit: cover;


}
/* あとで追加
.item-groups img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
*/

.item-title{
    width: 290px;
    height: 40px;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    overflow:hidden ;
    text-overflow: ellipsis;
    white-space: nowrap;
  
}
