/*タグのデフォルト余白を削除*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.content-wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: flex-start;
}

/*左側、商品画像*/
.wrapper-left{
    width: 50%;
    height: auto;
    margin: 0 auto;
    min-width: 0;
}

.item-image{
    width: 100%;
    max-width: 600px;
    height: 600px;
    margin-top: 50px;
    background-color: #505050;
}

.item-image img{
    width: 100%;
    object-fit: cover;
}

/*右側、商品説明*/
.wrapper-right{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 50%;
    height: auto;
    text-align: left;
    min-width: 0;
}

.detail__name h4{
    font-size: 40px;
    font-weight: 700;
    color: #000;
    overflow-wrap: break-word;
    word-break: break-word;
    margin: 50px 0 5px;
}

h5{
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom:20px;
}

h5:last-of-type {
    font-size: 36px;
    font-weight: 700;
    color: #5f5f5f;
    margin-bottom: 15px;
}


.detail__brand{
    font-size: 20px;
    text-align: left;
}
.detail__price{
    margin: 20px 0;
}

.item-price{
    font-size: 30px;
}
span{
    font-size: 45px;
}

.detail__marks-wrapper{
    display: flex;
    width: 144px;
    margin-left:20px;
    justify-content: space-between;
}

.likes, .comments{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;
    width: 45px;
    text-align: center;
    margin-bottom: 20px;

}

.likes img ,.comments img{
    width: 100%;
}

.detail__buy-button {
    width: 100%;
    margin-bottom: 30px;
}

.detail__buy-button a {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: #FFF;
    padding: 20px 0;
    background-color: #ff5555;
    border-radius: 4px;
    text-align: center;
}

.detail__item-description{
    font-size: 24px;
    width: 100%;
    margin-bottom: 30px;
}
.detail__item-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
}

.categories__wrapper, .conditions__wrapper{
    display: flex;
    justify-content: left;
}
.info-text{
    font-size: 24px;
    font-weight: 700;
    display: block;
    margin-right: 20px;
}
.item-categories{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 20px;
}

.category-name{
    display: block;
    color: #000;
    background-color: #D9D9D9;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 20px;
}

.item-condition{
    font-size: 20px;
    padding-left: 20px;
}

.seller-profile{
    display: flex;
}

.seller-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
    height: 70px;
    background-color: #e5e5e5;
    margin-right: 20px;
}

.seller-name{
    font-size: 30px;
    font-weight: 700;
    display: block;
    text-align: left;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.other-comments{
    width: 100%;
    background-color: #e5e5e5;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    text-wrap: inherit;
    padding: 10px;
}

.create-comment label{
    font-size: 28px;
    font-weight: 700;
}

textarea{
    width: 100%;
    height: 300px;

}

.detail__comment-button button{
    font-size: 25px;
    font-weight: 700;
    color: #FFF;
    background-color: #ff5555;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    border: none;
    margin-bottom: 40px;
}
