.title {
    width: 100%;
    margin: 40px 0 auto;
    text-align: center;
}

.title-text {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom: 50px;
}

/* プロフ画像エリア */
/* プロフ画像エリア */
.icon-area {
    display: flex;
    margin: 0px auto 50px;
    align-items: center;
    width: 680px;
}

/* プロフ画像の枠（丸・中央寄せ） */
.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    background-color: #d9d9d9;
    margin-right: 50px;
}

/* 画像のプレビュー */
.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ファイル入力（表示しない） */
input[type="file"] {
    display: none;
}

/* 画像選択ボタン（自作のやつ） */
.icon-select {
    font-size: 20px;
    font-weight: 700;
    color: #ff5555;
    padding: 10px 20px;
    border: 2px solid #ff5555;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    transition: 0.2s;
}

.icon-select:hover {
    background-color: #ff5555;
    color: #fff;
}


/* プロフ入力・送信エリア */
.edit-wrapper {
    width: 80%;
    margin: 0px auto;
}
/* プロフ入力・送信エリア */
.profile__form {
    width: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 40px;
    gap: 5px;
}

.profile__form:nth-of-type(4) {
    margin-bottom: 50px;
}

.profile__form label {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 5px;
}

.profile__form input {
    width: 100%;
    height: 59px;
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
    margin: 0px auto;
}

/* 登録ボタン */
.edit__submit-button {
    display: block;
    width: 680px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    background-color: #ff5555;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
}


/* フォームリクエスト */
.form__error {
    font-size: 20px;
    color: red;

}

/*プロフ画像プレビュー機能(js)*/
<script>
document.getElementById('avatar').addEventListener('change', function(e) {
        const file=e.target.files[0];
        if ( !file) return;

        const reader=new FileReader();

        reader.onload=function(e) {
            document.getElementById('preview').src=e.target.result;
        }

        ;
        reader.readAsDataURL(file);
    });
</script>