/*プロフィール部分*/
.icon-area {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px 50px;
    align-items: center;
    width: 1070px;
}

.icon-wrapper{
    display: flex;
    justify-content: left;
    gap: 50px;
}

.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    background-color: #d9d9d9;
    margin-right: 50px;
}


.profile-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.username-area{
    width: 250px;
    height: 65px;
    align-items: center;
}

.username{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.profile-edit {
    font-size: 20px;
    font-weight: 700;
    color: #ff5555;
    padding: 10px 20px;
    border: 2px solid #ff5555;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;

}


/*商品一覧部分*/

.tabs {
    display: flex;
    justify-content: left;
    margin: 80px auto 10px;
    padding-left: 100px;
    width: 100%;
    gap: 80px;
}




.mypage-tab {
    padding: 10px 0;
    text-decoration: none;
    color: #5f5f5f;
    font-weight: 700;
    
}

.mypage-tab.active {
    color: #ff0000;
   
}

.hr {
    border: none;
    border-bottom: #5f5f5f solid 2px;
    margin: 10px 0 50px;
}

/* 以下商品一覧部分*/
.wrapper-outer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.item-wrapper {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 60px;
    max-width: 1400px;
    width: 100%;
    box-sizing: border-box;
}

.item-groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    height: 320px;
    box-sizing: border-box;
    gap: 5px;
}


.item-title {
    width: 290px;
    font-size: 25px;
    line-height: 30px;
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*item-img は共通app.cssにあります*/